.idea/
.vscode
.vs
.cache
**/test_list
mm-256KB
history.txt

test_temp/
build/
install/

### Python
# Byte-compiled / optimized / DLL files
__pycache__/
.venv/
*.py[cod]
*$py.class
test/unittest_temp_*
dataset/parquet_temp_*
tools/python_api/test/test_PYTHON_CSV.csv
test.db/

# macOS
.DS_Store

# Dataset
dataset/ldbc-1

### Node.js
tools/nodejs_api/node_modules/
tools/nodejs_api/package-lock.json

### WASM
tools/wasm/node_modules/
tools/wasm/examples/browser*/node_modules/
tools/wasm/examples/browser*/public/index.js
tools/wasm/examples/browser*/public/akar_wasm_worker.js
tools/wasm/examples/nodejs/node_modules/
tools/wasm/package/

# Archive files
*.zip
*.tar.gz

# Generated datasets
dataset/binary-demo
dataset/databases/tinysnb
dataset/ldbc-1/csv
